/* GENERAL */



@import url(https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap);

button:hover, nav:hover, .big_button:hover {
	cursor: pointer;
}
button a {
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	padding: 2em;     
	margin: -2em; 
	color:rgb(26, 26, 26);
}
html {
	scroll-behavior: smooth;
}




body {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 300vh;
	overflow-x: hidden;
	background-color: rgb(26, 26, 26);
	color: white;
	font-family: Teko, sans-serif;
	font-weight: 500;
	font-style: italic;
	font-display: auto;
	font-size: 18pt;
	text-transform: uppercase;
}



#messages {
	width: 100vw;
	background: orange;
}
#messages p {
	padding-top: 1.2rem;
	padding-bottom: 1rem;
	text-align: center;
	font-size: 22pt;
	color:rgb(26, 26, 26);
}



header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}
header h1 {
	margin: 4rem 0 5rem 0;
	font-size: 45pt;
	z-index: -1;
}
header h1 p {
	margin-bottom: -1rem;
}
header h1 p:nth-child(1) {
	margin-left: 20px;
}
header h1 p:nth-child(2) {
	margin-left: 10px;
	color: orange;
}
nav button, .big_button, .white_button {
	font-family: Teko;
	font-size: 22pt;
	padding-top: 2px;
	color: white;
	background-color: orange;
	font-style: normal;
	margin: 0 1vw 0 1vw;
	width: 40vw;
	height: 3rem;
	text-align: center;
	text-transform: uppercase;
	animation: fadeInButton .3s forwards linear;
	animation-delay: .5s;
	opacity: 0;
	transform: translateY(20px);
}
nav button:hover, .big_button:hover {
	background-color: rgb(112, 82, 26);
	color: white;
	transform: scale(1.05);
	transition: ease-in;
}
.white_button {
	background-color: white;
}
.white_button:hover{
	background-color: rgb(62, 62, 62);
}
.white_button a, .big_button a{
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	padding: 1em 10em 1em 10em;     
	margin: -1em -10em -1em -10em; 
	color:rgb(26, 26, 26);
}
.white_button a:hover {
	color: white;
}






/* STARTPAGE */



#startpage_header h1 p {
	opacity: 0;
	transform: translate(-300px, 300px);
	animation: fadeInHeader .25s forwards linear;
}
#startpage_header h1 p:nth-child(2) {
	animation-delay: .12s;
}
#startpage_header h1 p:nth-child(3) {
	animation-delay: .24s;
}
nav {
	display: flex;
	justify-content: center;
	color: rgb(26, 26, 26);
	width: 100vw;
}




#hero_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
	padding-bottom: 2rem;
}
#hero_container h2 {
	margin: 2rem 0 1rem 0;
	font-size: 26pt;
	width: 100vw;
	text-align: center;
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeInY .3s forwards ease-in;
}
#hero_container button {
	font-style: normal;
	opacity: 0;
	padding: 2rem;
	margin: .3rem;
	transform: translateY(20px);
	animation: fadeInButton .2s forwards ease-in;
	text-transform: uppercase;
}
#hero_container button:hover {
	background-color: rgb(92, 92, 92);
	margin: 0 .5rem 0 .5rem;
}
#hero_container button a:hover {
	color: #ffa500;
	transform: scale(1.2);
}





/* QUESTIONS PAGE */



#questions_section {
	padding-top: 2rem;
	width: 100vw;
	background-color: #29322c;
	text-align: center;
	padding-bottom: 5rem;
}
#questions_section h2 {
	font-size: 60pt;
	color: orange;
}
form article {
	min-height: 100vh;
	padding: 3rem;
}
.question_hl{
	font-size: 30pt;
	font-style: normal;
	text-transform: none;
}
form article div {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	overflow-x: scroll;
	height: 50vh;
	padding: 2rem 0 2rem 0;
	margin-bottom: 2rem;
	font-size: 22pt;
}
.map_question div {
	flex-flow: column nowrap;
	height: auto;
}
.map_question div p {
	font-size: 32pt;
	margin-top: 1.5rem;
	text-align: left;
}
form article div span {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: .3rem;
	width: 13rem;
}
.map_question div span, .map_question div p {
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 22rem;
	margin-left: 15vw;
}










/* RESULTS PAGE */



#results_section {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 2rem;
	width: 100vw;
	background-color: #2b3145;
}
#results_section h2 {
	width: 100%;
	text-align: center;
	font-size: 32pt;
	color: orange;
}
#vote_counter {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}
#results_section article {
	width: 30%;
	min-width: 17rem;
	margin: 0 3rem 6rem 0
}
#results_section article h3 {
	padding-left: .5rem;
	font-style: normal;
	text-transform: none;
}
.chart {
	height: 200px;
	width: 100%;
}





/* ANIMATIONS */



@keyframes fadeInHeader {
	100% { 
		opacity: 1;
		transform: translate(0) 
	}
}
@keyframes fadeInY {
	100% {
		opacity: 1;
		transform: translateY(0px)
		}
}
@keyframes fadeInButton {
	100% {
		opacity: 1;
		transform: translateY(0px) skewX(-13deg);
		}
}





/* MOBILE SUPPORT */


@media only screen and (max-width: 600px) {
	nav button, .white_button, .big_button {
		font-size: 4vw;
	}
}