<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Overwatch Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <h1>Overwatch Guide</h1>

    

    <section id = "hero_container"></section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            //add Button for each Hero
            var all_hero_names = {{ all_hero_names | tojson }};
            var i;
            for (i = 0; i < all_hero_names.length; i++) {
                $('#hero_container').append(
                    '<div><a href="/' + all_hero_names[i] + '-questions">'
                    + all_hero_names[i] 
                    + '</a></div>'
                );
            }
        });
    </script>
</body>

</html>