{% extends 'base.html' %}

{% block body %}

<header>
	<h1>
		<p>Rock</p>
		<p>Pharah</p>
		<p>Scissors</p>
	</h1>
	<nav>
		<button class="back_button">
			<a href="{{ url_for('index') }}?q">Select another hero</a>
		</button>
	</nav>
</header>

<section id="questions_section">
<h2 id="current_hero">{{ current_hero }}</h2>
<form action="/{{ current_hero }}-questions" method="POST">
	<article>
		<label for="question_1">Who is {{ current_hero }} especially good against?</label>
		<div id="question_1"></div>
	</article>
	<article>
		<label for="question_2">Who scares you when playing {{ current_hero }}?</label>
		<div id="question_2"></div>
	</article>
	<article>
		<label for="question_3">Who is an especially good Teammate for {{ current_hero }}?</label>
		<div id="question_3"></div>
	</article>
	<article>
		<label for="question_4">Who's ultimate should always be combined with {{ current_hero }}'s ultimate?</label>
		<div id="question_4"></div>
	</article>
	<article>
		<label for="question_5">Is there an enemy ultimate that {{ current_hero }} can deny easily?</label>
		<div id="question_5"></div>
	</article>
	<article>
		<label for="question_6">Which heroes share a similar playstyle with {{ current_hero }}?</label>
		<div id="question_6"></div>
	</article>
	<article>
		<label for="question_7">Is there a map type that suits {{ current_hero }} especially well?</label>
		<div id="question_7"></div>
	</article>
	<article>
		<label for="question_8">Is there a map where it'd be stupid not to play {{ current_hero }}?</label>
		<div id="question_8"></div>
	</article>
	<article>
		<label for="question_9">Is there a map where you'd never play {{ current_hero }}?</label>
		<div id="question_9"></div>
	</article>	
	<input type="submit" value="Submit">
</form>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	//are filled from json file on page load
	var all_hero_names = []
	var all_map_names



	//function to append a checkbox for every hero to the according question div
	function fillWithHeroCeckboxes(question_id){
		$('#' + question_id).append(
			'<input type="checkbox" name="result" value="Nobody'+ question_id.replace('question','') + '">Nobody</input>'
		);
		for (i = 0; i < all_hero_names.length; i++) {
			if (all_hero_names[i] != {{ current_hero | tojson }}) {
				$('#' + question_id).append(
					'<input type="checkbox" name="result" value="' + all_hero_names[i] + question_id.replace('question','') + '">' + all_hero_names[i] + '</input>'
				)};
		};
	};



	//function to append a checkbox for every map to the according question div
	function fillWithMapCheckboxes(question_id){
		$('#' + question_id).append(
			'<input type="checkbox" name="result" value="No' + question_id.replace('question','') + '">No</input>'
		);
		$.each(all_map_names, function(i){
			//if current map is another type than the map before, append a map type headline first
			if (i == 0 || all_map_names[i].map_type != all_map_names[i-1].map_type) {
				$('#' + question_id).append(
					'<p>' + all_map_names[i].map_type + '</p>' + 
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_name + question_id.replace('question','') + '">' + all_map_names[i].map_name + '</input>'
				)
			} else {
				$('#' + question_id).append(
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_name + question_id.replace('question','') + '">' + all_map_names[i].map_name + '</input>'
				)
			};
		});
	}



	//function to append a checkbox for every map type to the according question div
	function fillWithMapTypeCheckboxes(question_id){
		$('#' + question_id).append(
			'<input type="checkbox" name="result" value="No' + question_id.replace('question','') + '">No</input>'
		);
		$.each(all_map_names, function(i){
			if (i == 0 || all_map_names[i].map_type != all_map_names[i-1].map_type) {
				$('#' + question_id).append(
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_type + question_id.replace('question','') + '">' + all_map_names[i].map_type + '</input>'
				)
			}
		});
	}



	//executes on page load
	$(function(){
		//fill all_hero_names array with data from json file
		//and use it to create content
		$.getJSON("{{ url_for('static', filename='all_hero_names.json') }}", function(data){
			all_hero_names = data;
			fillWithHeroCeckboxes('question_1');
			fillWithHeroCeckboxes('question_2');
			fillWithHeroCeckboxes('question_3');
			fillWithHeroCeckboxes('question_4');
			fillWithHeroCeckboxes('question_5');
			fillWithHeroCeckboxes('question_6');
		});
		//fill all_map_names array with data from json file
		//and use it to create content
		$.getJSON("{{ url_for('static', filename='all_map_names.json') }}", function(data){
			all_map_names = data;
			fillWithMapTypeCheckboxes('question_7');
			fillWithMapCheckboxes('question_8');
			fillWithMapCheckboxes('question_9');
		});
	})

</script>

{% endblock %}
