{% extends 'base.html' %}

{% block body %}

<header>
	<h1>Overwatch Guide</h1>
</header>

<h2>{{ hero_name }}</h2>

<div id="img_container"></div>
<form action="/{{ hero_name }}-questions" method="POST">
	<div id="question_1">
		<label for="question_1">Who is {{ hero_name }} good against?</label>
	</div>
	<div id="question_2">
		<label for="question_2">Who scares you when playing {{ hero_name }}?</label>
	</div>
	<div id="question_3">
		<label for="question_3">Who do you love having on your team when playing {{ hero_name }}?</label>
	</div>
	<div id="question_4">
		<label for="question_4">Who's ultimate should always be combined with {{ hero_name }}'s ultimate?</label>
	</div>
	<div id="question_5">
		<label for="question_5">What enemy ultimate can {{ hero_name }} deny easily?</label>
	</div>
	<div id="question_6">
		<label for="question_6">What map type is {{ hero_name }} especially good on?</label>
	</div>
	<div id="question_7">
		<label for="question_7">What map type is {{ hero_name }} rather bad on?</label>
	</div>
	<div id="question_8">
		<label for="question_8">Is there a map where it'd be stupid not to play {{ hero_name }}?</label>
	</div>
	<div id="question_9">
		<label for="question_9">Is there a map where you'd never play {{ hero_name }}?</label>
	</div>
	<input type="submit" value="Submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	//are filled by json file on page load
	var all_hero_names = []
	var all_map_names

	//append a checkbox for every hero to the according question div
	function fillWithHeroCeckboxes(question_id){
		for (i = 0; i < all_hero_names.length; i++) {
			$('#' + question_id).append(
				'<input type="checkbox" name="result" value="' + all_hero_names[i] + question_id.replace('question','') + '">' + all_hero_names[i] + '</input>'
			)
		};
	}

	//append a checkbox for every map to the according question div
	function fillWithMapCheckboxes(question_id){
		$.each(all_map_names, function(i){
			//if current map is another type than the map before, append a map type headline first
			if (i == 0 || all_map_names[i].map_type != all_map_names[i-1].map_type) {
				$('#' + question_id).append(
					'<span>' + all_map_names[i].map_type + ':</span>' + 
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_name + question_id.replace('question','') + '">' + all_map_names[i].map_name + '</input>'
				)
			} else {
				$('#' + question_id).append(
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_name + question_id.replace('question','') + '">' + all_map_names[i].map_name + '</input>'
				)
			};
		});
	}

	//append a checkbox for every map type to the according question div
	function fillWithMapTypeCheckboxes(question_id){
		$.each(all_map_names, function(i){
			if (i == 0 || all_map_names[i].map_type != all_map_names[i-1].map_type) {
				$('#' + question_id).append(
					'<input type="checkbox" name="result" value="' + all_map_names[i].map_type + question_id.replace('question','') + '">' + all_map_names[i].map_type + '</input>'
				)
			}
		});
	}

	//executes on page load
	$(function(){
		//fill all_hero_names array with data from json file
		//and use it to create content
		$.getJSON("{{ url_for('static', filename='all_hero_names.json') }}", function(data){
			all_hero_names = data;
			fillWithHeroCeckboxes('question_1');
			fillWithHeroCeckboxes('question_2');
			fillWithHeroCeckboxes('question_3');
			fillWithHeroCeckboxes('question_4');
			fillWithHeroCeckboxes('question_5');
		});
		//fill all_map_names with data from json file
		//and use it to create content
		$.getJSON("{{ url_for('static', filename='all_map_names.json') }}", function(data){
			all_map_names = data;
			fillWithMapTypeCheckboxes('question_6');
			fillWithMapTypeCheckboxes('question_7');
			fillWithMapCheckboxes('question_8');
			fillWithMapCheckboxes('question_9');
		});
	})

</script>

{% endblock %}
