<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ hero_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1>I'm the {{ hero_name }} questions page!</h1>

  <section id="img_container"></section>
  <section id="questions_container">

    <form>
      <label for="question_maps_1">Which maps is {{ hero_name }} strong on?</label>
      <input type="checkbox">
    </form>

  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>